version: '3.8'
# docker-compose -f docker-compose-app-v2.0.yml up -d
services:
  ai-mcp-knowledge-app:
#    image: fuzhengwei/ai-mcp-knowledge-app:2.3
    image: yangyuanyuan/ai-mcp-knowledge-app:2.0
    container_name: ai-mcp-knowledge-app
    restart: always
    ports:
      - "8090:8090"
    volumes:
      - ./log:/data/log
    environment:
#      - TZ=PRC
      - SERVER_PORT=8090
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_DATASOURCE_URL=jdbc:postgresql://vector_db:5432/ai-rag-knowledge
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
      - SPRING_AI_OLLAMA_BASE_URL=http://58a39caa684c41bf9bed-deepseek-r1-llm-api.gcs-xy1a.jdcloud.com/
      - SPRING_AI_OLLAMA_EMBEDDING_OPTIONS_NUM_BATCH=512
      - SPRING_AI_OLLAMA_MODEL=nomic-embed-text
      - SPRING_AI_OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/
      - SPRING_AI_OPENAI_API_KEY=sk-18ecc9ed836f4661ac299bf0ed97201e
      - SPRING_AI_OPENAI_CHAT_OPTIONS_MODEL=qwen-plus
      - SPRING_AI_OPENAI_EMBEDDING_MODEL=text-embedding-ada-v4
      - SPRING_AI_RAG_EMBED=nomic-embed-text
      - SPRING_AI_MCP_CLIENT_REQUEST_TIMEOUT=360s
      - SPRING_AI_MCP_CLIENT_SSE_CONNECTIONS_MCP_SERVER_CSDN_URL=http://mcp-server-csdn-app:8101
      - SPRING_AI_MCP_CLIENT_SSE_CONNECTIONS_MCP_SERVER_WEIXIN_URL=http://mcp-server-weixin-app:8102
      - REDIS_SDK_CONFIG_HOST=redis
      - REDIS_SDK_CONFIG_PORT=6379
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      - mcp-server-csdn-app
      - mcp-server-weixin-app
    networks:
      - my-network

  mcp-server-csdn-app:
    #    image: fuzhengwei/mcp-server-csdn-app:1.1
    image: yangyuanyuan/mcp-server-csdn-app:1.0
    container_name: mcp-server-csdn-app
    restart: always
    ports:
      - "8101:8101"
    volumes:
      - ./log:/data/log
    environment:
      - TZ=PRC
      - SERVER_PORT=8101
      - CSDN_API_COOKIE=__tea_cookie_tokens_2608=%257B%2522web_id%2522%253A%25227430418047582782988%2522%252C%2522user_unique_id%2522%253A%25227430418047582782988%2522%252C%2522timestamp%2522%253A1730029040773%257D; store-region=cn-js; store-region-src=uid; _tea_utm_cache_2608={%22utm_source%22:%22practice%22%2C%22utm_medium%22:%22youthcamp%22%2C%22utm_campaign%22:%22examine%22}; csrf_session_id=eafe8416fb489473cfc5e33ea3f58f6a; passport_csrf_token=9d0efdb616dceb834fd6419d6568a6ed; passport_csrf_token_default=9d0efdb616dceb834fd6419d6568a6ed; n_mh=TDba3xjZtllwryahiMB7ydQk6tjRxyL5J1NL0xVKBxg; passport_auth_status=877beabe1467b8aa2680337ea04a274b%2C; passport_auth_status_ss=877beabe1467b8aa2680337ea04a274b%2C; sid_guard=858bd147383942562af0cd6fddffcd31%7C1762397417%7C31536000%7CFri%2C+06-Nov-2026+02%3A50%3A17+GMT; uid_tt=f6dc1c54ef108e4d69850250ddfded16; uid_tt_ss=f6dc1c54ef108e4d69850250ddfded16; sid_tt=858bd147383942562af0cd6fddffcd31; sessionid=858bd147383942562af0cd6fddffcd31; sessionid_ss=858bd147383942562af0cd6fddffcd31; session_tlb_tag=sttt%7C4%7ChYvRRzg5QlYq8M1v3f_NMf________-yeiLLic1Z6uRerKdj0Fia-ADJ0oAm89fjsIxDDrvrEfw%3D; is_staff_user=false; sid_ucp_v1=1.0.0-KDM2ZmFiYjM0NDU0MjRlZTVjZGIyMTgwMDE1NjRiYWEzZDIzMWM5YjQKFwib0vDlg8yzAhDpmbDIBhiwFDgCQPEHGgJsZiIgODU4YmQxNDczODM5NDI1NjJhZjBjZDZmZGRmZmNkMzE; ssid_ucp_v1=1.0.0-KDM2ZmFiYjM0NDU0MjRlZTVjZGIyMTgwMDE1NjRiYWEzZDIzMWM5YjQKFwib0vDlg8yzAhDpmbDIBhiwFDgCQPEHGgJsZiIgODU4YmQxNDczODM5NDI1NjJhZjBjZDZmZGRmZmNkMzE; _tea_utm_cache_576092=undefined"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - my-network

  mcp-server-weixin-app:
    #    image: fuzhengwei/  mcp-server-weixin-app:1.1
    image: yangyuanyuan/mcp-server-weixin-app:1.0
    container_name: mcp-server-weixin-app
    restart: always
    ports:
      - "8102:8102"
    volumes:
      - ./log:/data/log
    environment:
      - TZ=PRC
      - SERVER_PORT=8102
      - WEIXIN_API_ORIGINAL_ID=gh_e17647cee6b2
      - WEIXIN_API_APP_ID=wxc067c0ca07209b55
      - WEIXIN_API_APP_SECRET=3df757d306c6e4825cb2bd29b32c2a6a
      - WEIXIN_API_TEMPLATE_ID=p1WCJifqEYgfYfhUWkV2BIhOiHREF9f6fmEgPQNGf4k
      - WEIXIN_API_TOUSER=oJQT52KyEHiYPDgNNzXYix9aM_ns
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
